<phpunit bootstrap="../unittestautoload.php" backupGlobals="false" verbose="true">
  <testsuites>
    <testsuite name="unitary-tests">
      <directory suffix="Test.php">unitary-tests</directory>
    </testsuite>
    <testsuite name="integration-tests">
      <directory suffix="Test.php">integration-tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
