<phpunit bootstrap="../unittestautoload.php" backupGlobals="false" verbose="true">
  <testsuites>
    <testsuite name="testsU">
      <directory suffix="Test.php">./classes</directory>
    </testsuite>
    <testsuite name="brokenTests">
      <directory suffix="Test.php">./broken</directory>
    </testsuite>
  </testsuites>
</phpunit>
